.Footer {
  width: 70%;
  height: auto;
  border-left: 2px solid #eeeeee;
  padding-left: 1.5%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Footer button {
  width: 45%;
  font-size: 0.7rem;
}

@media screen and (max-width: 600px) {
  .Footer {
    padding-top: 10%;
  }
}
