.LineChart {
  padding-top: 1rem;
  width: 70%;
  height: auto;
  border-left: 2px solid #eeeeee;
  padding-left: 1.5%;
  display: flex;
  flex-direction: column;
}
.LineChart__heading__container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.LineChart__heading__container img {
  width: 1.8rem;
  height: 1.8rem;
}
