.Summary {
  width: 70%;
  height: auto;
  border-left: 2px solid #eeeeee;
  padding-left: 1.5%;
  display: flex;
  flex-direction: column;
}

.Summary__heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1%;
  color: #576dca;
}
